<div class="w3-center w3-margin">
    <span ng-click="routeTo('projects')" class="w3-btn w3-blue">Projects</span>
    <span ng-click="routeTo('tasks')" class="w3-btn w3-text-blue">Tasks</span>
</div>
<div class="w3-center">
    <button ng-click="toggleProjectFormVis()" ng-show="!projectFormVis" id="toggleProjectFormVis" class="w3-large w3-btn w3-blue w3-margin w3-round-xlarge"><i class="fas fa-plus"></i></button>
</div>
<div ng-show="projectFormVis" class="w3-card w3-round w3-padding" style="width: 90%; max-width: 1300px; margin: auto; margin-top: 10px;">
    <h3 style="text-align: center;">New Project</h3>
    <div class="w3-row-padding w3-large">
        <div class="w3-third">
            <input ng-model="newProjectName" class="w3-input" maxlength="30">
            <label class="w3-large">Name</label>
        </div>
        <div class="w3-third">
            <input ng-model="newProjectArea" class="w3-input" maxlength="20">
            <label class="w3-large">Area</label>
        </div>
        <div class="w3-third">
            <input ng-model="newProjectManager" class="w3-input" maxlength="20">
            <label class="w3-large">Manager</label>
        </div>
    </div>
    <div class="w3-large" style="margin: 0px 15px 0px 15px;">
        <textarea ng-model="newProjectDescription" class="w3-input" style="resize: none;"
        maxlength="255"></textarea>
        <label class="w3-large">Description</label>
    </div>
    <p class="w3-center">
        <button ng-click="addProject()" class="w3-btn w3-round w3-large w3-blue w3-padding">Submit</button>
        <button ng-click="toggleProjectFormVis()"
        class="w3-btn w3-round w3-large w3-red w3-padding">Cancel</button>
    </p>
</div>
<h1 class="w3-center">Projects</h1>
<div ng-hide="$scope.projects.length == 0" class="w3-card w3-round" style="width: 90%; max-width: 1300px; margin: auto; margin-top: 10px;">
    <table class="w3-table w3-bordered w3-hoverable w3-large">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Area</th>
            <th>Mgr</th>
            <th></th>
            <th></th>
        </thead>
        <tbody ng-repeat="p in projects"> 
            <tr ng-click="clickP($index)">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.description}}</td>
                <td>{{p.area}}</td>
                <td>{{p.manager}}</td>
                <td>
                    <span ng-click="clickP($index)" style="cursor: pointer;"><i class="fas fa-edit w3-text-blue"></i></span>
                </td>
                <td>
                    <span ng-click="removeProject($index, p.id)" style="cursor: pointer;" class="w3-large w3-right w3-margin-right"><i class="fas fa-trash w3-text-red"></i></span>
                </td>
            </tr>            
            <!-- <tbody>
            <tr ng-repeat="t in tasks" ng-show="projectRowExpanded == $index">
                <td>{{t.id}}</td>
                <td>{{t.name}}</td>
                <td>{{t.description}}</td>
            </tr>
            </tbody> -->
        </tbody>
    </table>                    
</div>
