<div class="w3-center w3-margin">
    <span ng-click="routeTo('projects')" class="w3-btn w3-text-blue">Projects</span>
    <span ng-click="routeTo('tasks')"class="w3-btn w3-blue">Tasks</span>
</div>
<div class="w3-center">
    <button ng-click="toggleTaskFormVis()" ng-show="!taskFormVis" id="toggleTaskFormVis" class="w3-large w3-btn w3-blue w3-margin w3-round-xlarge"><i class="fas fa-plus"></i></button>
</div>
<div ng-show="taskFormVis" class="w3-card w3-round w3-padding" style="width: 90%; max-width: 1300px; margin: auto; margin-top: 10px;">
    <h3 style="text-align: center;">New Task</h3>
    <div class="w3-row-padding w3-large">
        <div class="w3-half">
        <!-- ng-options is similar to sql -- select p.id AS p.name to show the project name but give the <option> the id as the value -->
        <select ng-model="newTaskProject" ng-options="p.id as p.name for p in projects" class="w3-select"></select>
        <label class="w3-large">Project</label>
    </div>
    <div class="w3-half">
        <input ng-model="newTaskName" class="w3-input" maxlength="30">
        <label class="w3-large">Name</label>
    </div>
    </div>
    <div class="w3-large" style="margin: 0px 15px 0px 15px;">
        <textarea ng-model="newTaskDescription" class="w3-input" style="resize: none;"
        maxlength="255"></textarea>
        <label class="w3-large">Description</label>
    </div>
    <p class="w3-center">
        <button ng-click="addTask()" class="w3-btn w3-round w3-large w3-blue w3-padding">Submit</button>
        <button ng-click="toggleTaskFormVis()"
        class="w3-btn w3-round w3-large w3-red w3-padding">Cancel</button>
    </p>
</div>
<h1 class="w3-center">Tasks <span ng-show="selectedProject">for <span class="w3-text-green">{{selectedProject.name}}</span></span></h1>
<div ng-hide="$scope.tasks.length == 0" class="w3-card w3-round" style="width: 90%; max-width: 1300px; margin: auto; margin-top: 10px;">
    <table class="w3-table w3-bordered w3-large">
        <thead>
            <th style="vertical-align: bottom;">ID</th>
            <th style="vertical-align: bottom;">Project ID</th>
            <th style="vertical-align: bottom;">Name</th>
            <th style="vertical-align: bottom;">Description</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="t in tasks">
                <td>{{t.id}}</td>
                <td>{{t.projectId}}</td>
                <td>{{t.name}}</td>
                <td>{{t.description}}</td>
                <!-- <td>
                    <span ng-click="routeTo('tasks/1')" style="cursor: pointer;"><i class="fas fa-edit w3-text-blue"></i></span>
                </td> -->
                <td>
                    <span ng-click="removeTask($index, t.id)" style="cursor: pointer;" class="w3-large w3-right w3-margin-right"><i class="fas fa-trash w3-text-red"></i></span>
                </td>
            </tr>
        </tbody>
    </table>                    
</div>