<div class="w3-card w3-round" style="width: 90%; max-width: 1300px; margin: auto; margin-top: 10px;">
    <table class="w3-table w3-bordered w3-hoverable w3-large">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Area</th>
            <th>Mgr</th>
            <!-- <th># Tasks</th> -->
            <th></th>
        </thead>
        <tbody ng-repeat="p in projects"> 
            <tr ng-click="expandProjectRow($index)">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.description}}</td>
                <td>{{p.area}}</td>
                <td>{{p.manager}}</td>
                <!-- <td>{{ p.tasks.length }}</td> -->
                <td>
                    <span ng-click="check($index)" style="cursor:pointer;" class="w3-large w3-right w3-margin-right"><i class="fas fa-plus w3-text-blue"></i></span>
                    <span ng-click="removeProject($index, p.id)" style="cursor:pointer;" class="w3-large w3-right w3-margin-right"><i class="fas fa-trash w3-text-red"></i></span>
                </td>
            </tr>            
            <!-- <tbody> -->
            <!-- <tr ng-repeat="t in tasks" ng-show="projectRowExpanded == $index">
                <td>{{t.id}}</td>
                <td>{{t.name}}</td>
                <td>{{t.description}}</td>
            </tr> -->
            <!-- </tbody> -->
        </tbody>
    </table>                    
</div>