<div class="w3-center w3-margin">
    <a href="#!/projects" class="w3-btn btn route-btn w3-round w3-blue">Projects</a>
    <a href="#!/tasks" class="w3-btn btn route-btn w3-round w3-text-blue">Tasks</a>
</div>
<div class="w3-center">
    <button ng-click="showNewProjectForm()" ng-hide="projectFormVis" class="btn w3-btn w3-round w3-blue w3-margin"><i class="fas fa-plus"></i></button>
</div>
<form ng-show="projectFormVis" class="content w3-card w3-round w3-padding">
    <h3 class="text-center">New Project</h3>
    <div class="w3-row-padding">
        <div class="w3-third">
            <input ng-model="newProjectName" name="newProjectName" class="w3-input" maxlength="30" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict>
            <label class="w3-large">Name</label>
        </div>
        <div class="w3-third">
            <input ng-model="newProjectArea" name="newProjectArea" class="w3-input" maxlength="20" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict>
            <label class="w3-large">Area</label>
        </div>
        <div class="w3-third">
            <input ng-model="newProjectManager" name="newProjectManager" class="w3-input" maxlength="20" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict>
            <label class="w3-large">Manager</label>
        </div>
    </div>
    <div class="text-center">
        <textarea ng-model="newProjectDescription" name="newProjectDescription" class="w3-input" maxlength="255" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict></textarea>
        <label class="w3-large">Description</label>
    </div>
    <p class="w3-center">
        <button ng-click="createProject()" class="w3-btn btn w3-round w3-blue w3-padding">Submit</button>
        <button ng-click="toggleProjectFormVis()"
        class="w3-btn btn w3-round w3-red w3-padding">Cancel</button>
    </p>
</form>
<form ng-show="editProjectFormVis" class="content w3-card w3-round w3-padding">
    <h3 class="text-center">Edit <span class="w3-text-green">{{editThisProject.name}}</span></h3>
    <div class="w3-row-padding">
        <div class="w3-third">
            <input ng-model="editThisProject.name" name="editThisProjectName" class="w3-input" maxlength="30" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict>
            <label class="w3-large">Name</label>
        </div>
        <div class="w3-third">
            <input ng-model="editThisProject.area" name="editThisProjectArea" class="w3-input" maxlength="20" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict>
            <label class="w3-large">Area</label>
        </div>
        <div class="w3-third">
            <input ng-model="editThisProject.manager" name="editThisProjectManager" class="w3-input" maxlength="20" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict>
            <label class="w3-large">Manager</label>
        </div>
    </div>
    <div class="text-center">
        <textarea ng-model="editThisProject.description" name="editThisProjectDescription" class="w3-input" maxlength="255" pattern="^[A-Za-z0-9 , . ' : / ? * & % $ # @ ! = + - _ ( ) ]+$" ng-pattern-restrict></textarea>
        <label class="w3-large">Description</label>
    </div>
    <p class="w3-center">
        <button ng-click="updateProject()" class="w3-btn btn w3-round w3-blue w3-padding">Submit</button>
        <button ng-click="cancelProjectUpdate()"
        class="w3-btn btn w3-round w3-red w3-padding">Cancel</button>
    </p>
</form>
<h1 class="w3-center">Projects</h1>
<div class="widget-container">
    <!-- instead of href ng-click has to be used w a function to allow stopPropogation() on spans below -->
    <div ng-repeat="p in projects" ng-click="routeTo(p.id)" class="project-card w3-card w3-round">
        <div class="button-pane">
            <button type="submit" ng-click="editProject(p); $event.stopPropagation();" class="btn"><i class="fas fa-edit w3-text-blue"></i></button>
            <button type="button" ng-click="deleteProject($index, p.id); $event.stopPropagation();" class="btn"><i class="fas fa-trash w3-text-red"></i></button>
        </div>
        <br>
        <div class="widget-content">
            <h4><b>{{p.name}}</b></h4>
            <p>{{p.description}}</p>            
        </div>
    </div>
</div>