input, input:focus {
    outline: none;
}

textarea, textarea:focus {
    outline: none;
}

button, button:focus {
    outline: none;
}

select, select:focus {
    outline: none;
}

th {
    vertical-align: bottom;
}